body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

h1 {
    margin-bottom: 20px;
}

#quote {
    font-size: 1.5em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: darkblue;
}